<!DOCTYPE html>
<html lang="en">

<head>
 <link href="bootstrap.min.css.map" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap.css" rel="stylesheet">

</head>
<body ng-app="loadProfile" ng-controller="loadProfileController">
<br>
<center>
<div class="input-group" style="width:30%">

<input type="text" value="" class="form-control" placeholder="Username" id="username" name='username' ng-model='data'/>
<br>
</center>
<center>
<br>
<button id="button" ng-click="submit()">Submit</button>
</div>

<table ng-if="profileData" class="table table-striped">
					  <thead class="thead-inverse">
					<tr>
					      <th>S.no</th>
					  	  <th>Details</th>
					  	</tr>
					  </thead>
					<tbody>
						<tr ng-repeat="(key, value) in profileData">
  						<td> {{key}} </td> <td> {{ value }} </td>
						</tr>
				
				    </tbody>
				 </table>
				  
</center>
<script src="angscript.js"></script> 
<script src="angular.min.js.map"></script> 
<script src="profilecontroller.js"></script>
</body>

